params.executor = "local"
params.cpuNum = 1
process.executor = params.executor

report.enabled = true
trace.enabled = true
dag.enabled = true

report.file = "results/report.html"
trace.file = "results/trace.txt"
dag.file = "results/dag.svg"

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
		process {
			withName:RepeatModeler_BuildDatabase {
				container = 'dfam/tetools:latest'
			}
			withName:RepeatModeler_modelRepeatLibrary {
				container = 'dfam/tetools:latest'
			}
			withName:RepeatMasker_simple_exec {
				container = 'dfam/tetools:latest'
			}
			withName:RepeatMasker_parallel_exec {
				container = 'dfam/tetools:latest'
			}
			withName:convert_out_to_gff {
				container = 'dfam/tetools:latest'
			}}
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
		process {
			withName:RepeatModeler_BuildDatabase {
				container = 'docker://dfam/tetools:latest'
			}
			withName:RepeatModeler_modelRepeatLibrary {
				container = 'docker://dfam/tetools:latest'
			}
			withName:RepeatMasker_simple_exec {
				container = 'docker://dfam/tetools:latest'
			}
			withName:RepeatMasker_parallel_exec {
				container = 'docker://dfam/tetools:latest'
			}
			withName:convert_out_to_gff {
				container = 'docker://dfam/tetools:latest'
			}

		}
    }
}


