params.executor = "local"
params.cpuNum = 1
process.executor = params.executor

//report.enabled = true //Report doesn't seem to work with the RepeatModeler Singularity/Docker image, since it doesn't have 'ps'
//trace.enabled = true //Trace doesn't seem to work with the RepeatModeler Singularity/Docker image, since it doesn't have 'ps'
dag.enabled = true

report.file = "results/report.html"
trace.file = "results/trace.txt"
dag.file = "results/dag.svg"

process {
    withName:RepeatModeler_BuildDatabase {
        container = 'docker://dfam/tetools:latest'
    }
    withName:RepeatModeler_modelRepeatLibrary {
        container = 'docker://dfam/tetools:latest'
    }
    withName:RepeatMasker_simple_exec {
        container = 'docker://dfam/tetools:latest'
    }
    withName:RepeatMasker_parallel_exec {
        container = 'docker://dfam/tetools:latest'
    }
    withName:convert_out_to_gff {
        container = 'docker://dfam/tetools:latest'
    }

}

singularity {
    enabled = true
    runOptions = "-B ../../../trf:/opt/trf:ro" //See https://github.com/Dfam-consortium/TETools for explanation. It's a license issue with tandem repeat finder (TRF)
    autoMounts = true
}
